<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="formSituacao" (validSubmit)="cadastro()">
      <nb-card>
        <nb-card-header>Cadastrar Situação</nb-card-header>
        <nb-card-body>

          <div class="form-group">
            <div class="form-group">
              <label for="descricao" class="label">Descrição</label>
              <input id="descricao" type="text" nbInput fullWidth placeholder="Descrição" class="form-control" formControlName="descricao" maxlength="25">
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="buttons-row">
            <button nbButton [status]="'primary'" hero>
              Salvar
            </button>
            <button nbButton [status]="'danger'" outline type="button" (click)="limpar()">
              Limpar
            </button>
            <button nbButton [status]="'danger'" hero  type="button" (click)="irParaTelaDeConsulta()">
              Voltar
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
