<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="formPessoa" (validSubmit)="cadastro()">
      <nb-card>
        <nb-card-header>Cadastrar Pessoa</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="nome" class="label">Nome</label>
                  <input id="nome" type="text" nbInput fullWidth placeholder="Nome" class="form-control" formControlName="nome" maxlength="70">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="dataNascimento" class="label">Data de Nascimento</label>
                  <input id="dataNascimento"
                         type="text"
                         nbInput
                         fullWidth
                         placeholder="Data de Nascimento"
                         class="form-control"
                         [formControlName]="'dataNascimento'">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="celular" class="label">Celular</label>
                  <input id="celular"
                         type="text"
                         nbInput
                         fullWidth
                         placeholder="Celular"
                         class="form-control"
                         [formControlName]="'celular'">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="uf" class="label">UF</label>
                  <select formControlName="uf" type="text" id="uf" name="uf" class="form-control" [compareWith]="compareFn">
                    <option [ngValue]="null">Selecione</option>
                    <option *ngFor="let uf of ufs"
                            [ngValue]="uf">{{uf.sigla}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">

                <div class="form-group" *ngIf="!formPessoa.controls['id'].value">
                  <label for="situacao" class="label">Situação</label>
                  <select formControlName="situacao" type="text" id="situacao" name="situacao" class="form-control" [compareWith]="compareFn">
                    <option [ngValue]="null">Selecione</option>
                    <option *ngFor="let situacao of situacoes" [ngValue]="situacao">{{situacao.descricao}}</option>
                  </select>
                </div>

                <div class="form-group" *ngIf="formPessoa.controls['id'].value">
                  <button nbButton
                          [status]="'primary'"
                          hero
                          type="button"
                          (click)="ativar()"
                          [disabled]="formPessoa.controls['situacao'].value.id === 1">
                    Ativar
                  </button>
                </div>

              </div>
            </div>
          </div>


        </nb-card-body>
        <nb-card-footer>
          <div class="buttons-row">
            <button nbButton [status]="'primary'" hero>
              {{formPessoa.controls['id'].value ? 'Alterar' : 'Salvar'}}
            </button>
            <button nbButton [status]="'danger'" outline  type="button" (click)="limpar()">
              Limpar
            </button>
            <button nbButton [status]="'danger'"  hero type="button" (click)="irParaTelaDeConsulta()">
              Voltar
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
