<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Pesquisar Pessoas</nb-card-header>
      <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Pesquisar por nome" [(ngModel)]="termoDeBusca">
      </nb-card-body>
      <nb-card-footer>
        <div class="buttons-row">
          <button type="submit" nbButton status="primary" (click)="pesquisar()">
            Pesquisar
          </button>
          <button nbButton [status]="'danger'" outline type="button" (click)="limpar()">
            Limpar
          </button>
          <button nbButton [status]="'primary'" hero [routerLink]="['/pages/pessoa/cadastrar']">
            Novo
          </button>
        </div>
      </nb-card-footer>
    </nb-card>

    <nb-card>
      <nb-card-header>Listar Pessoas</nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Celular</th>
            <th scope="col">Situação</th>
            <th scope="col">UF</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pessoa of retorno.content | paginate: { itemsPerPage: retorno.size, currentPage: paginaAtual, totalItems: retorno.totalElements }; let i= index ">
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.dataNascimento}}</td>
            <td>{{pessoa.celular | mask: '(00)00000-0000' }}</td>
            <td>{{pessoa?.situacao?.descricao}}</td>
            <td>{{pessoa?.uf?.sigla}}</td>
            <td>
              <nb-actions size="tiny">
                <nb-action icon="edit-outline"  [routerLink]="['/pages/pessoa/cadastrar/']" [queryParams]="{ id: pessoa.id}"></nb-action>
                <nb-action icon="trash-outline" (click)="excluir(pessoa.id)"></nb-action>
              </nb-actions>
            </td>
          </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="paginar($event)"
                             responsive="true"
                             directionLinks="true"
                             nextLabel="Próximo"
                             class="text-center"
                             screenReaderPaginationLabel="Pagination"
                             previousLabel="Anterior">

        </pagination-controls>

      </nb-card-body>
    </nb-card>
  </div>
</div>
