<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Listar Situações</nb-card-header>
      <nb-card-body>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let situacao of retorno.content | paginate: { itemsPerPage: retorno.size, currentPage: paginaAtual, totalItems: retorno.totalElements }; ">
            <td>{{situacao.id}}</td>
            <td>{{situacao.descricao}}</td>
            <td>
              <nb-actions size="tiny">
                <nb-action icon="edit-outline"  [routerLink]="['/pages/situacao/cadastrar/']" [queryParams]="{ id: situacao.id}"></nb-action>
                <nb-action icon="trash-outline" (click)="excluir(situacao.id)"></nb-action>
              </nb-actions>
            </td>
          </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="paginar($event)"
                             responsive="true"
                             directionLinks="true"
                             nextLabel="Próximo"
                             class="text-center"
                             screenReaderPaginationLabel="Pagination"
                             previousLabel="Anterior">
        </pagination-controls>

      </nb-card-body>
      <nb-card-footer>
        <div class="buttons-row">
          <button nbButton [status]="'primary'" hero [routerLink]="['/pages/situacao/cadastrar']">
            Novo
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
