<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Listar Unidades Federativas</nb-card-header>
      <nb-card-body>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Sigla</th>
            <th scope="col">Descrição</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let uf of retorno.content | paginate: { itemsPerPage: retorno.size, currentPage: paginaAtual, totalItems: retorno.totalElements }; ">
            <td>{{uf.id}}</td>
            <td>{{uf.sigla}}</td>
            <td>{{uf.descricao}}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="paginar($event)"
                             responsive="true"
                             directionLinks="true"
                             nextLabel="Próximo"
                             class="text-center"
                             screenReaderPaginationLabel="Pagination"
                             previousLabel="Anterior">
        </pagination-controls>
      </nb-card-body>
    </nb-card>
  </div>
</div>
